minic_webclient/node_modules
minic_webclient/client/node_modules

minic_webclient/build
minic_webclient/client/build

.DS_Store
minic_webclient/.DS_Store

data/
minic_server/build/
minic_server/minic_server.egg-info/
minic_server/config/__pycache__/

minic_client/__pycache__/
minic_client/build/
minic_client/minic_client.egg-info/
minic_client/minicclient.egg-info/

minic_messaging/build/
minic_messaging/minic_messaging.egg-info/

minic_logger/minic_logger.egg-info/
minic_logger/build/

minic_email/__pycache__/

minic_ltm/build
minic_ltm/minic_ltm.egg-info

.vscode/